<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weweibuy.gateway.manager.client.mapper.RouterFilterMapper">
  <resultMap id="BaseResultMap" type="com.weweibuy.gateway.manager.client.model.po.RouterFilter">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="router_id" jdbcType="VARCHAR" property="routerId" />
    <result column="filter_id" jdbcType="VARCHAR" property="filterId" />
    <result column="filter_name" jdbcType="VARCHAR" property="filterName" />
    <result column="dict_type" jdbcType="VARCHAR" property="dictType" />
    <result column="dict_id" jdbcType="BIGINT" property="dictId" />
    <result column="filter_desc" jdbcType="VARCHAR" property="filterDesc" />
    <result column="priority" jdbcType="INTEGER" property="priority" />
    <result column="is_use" jdbcType="BIT" property="isUse" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, router_id, filter_id, filter_name, dict_type, dict_id, filter_desc, priority, 
    is_use, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.weweibuy.gateway.manager.client.model.po.RouterFilterExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from router_filter
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from router_filter
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from router_filter
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.weweibuy.gateway.manager.client.model.po.RouterFilterExample">
    delete from router_filter
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.weweibuy.gateway.manager.client.model.po.RouterFilter">
    insert into router_filter (id, router_id, filter_id, 
      filter_name, dict_type, dict_id, 
      filter_desc, priority, is_use, 
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{routerId,jdbcType=VARCHAR}, #{filterId,jdbcType=VARCHAR}, 
      #{filterName,jdbcType=VARCHAR}, #{dictType,jdbcType=VARCHAR}, #{dictId,jdbcType=BIGINT}, 
      #{filterDesc,jdbcType=VARCHAR}, #{priority,jdbcType=INTEGER}, #{isUse,jdbcType=BIT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.weweibuy.gateway.manager.client.model.po.RouterFilter">
    insert into router_filter
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="routerId != null">
        router_id,
      </if>
      <if test="filterId != null">
        filter_id,
      </if>
      <if test="filterName != null">
        filter_name,
      </if>
      <if test="dictType != null">
        dict_type,
      </if>
      <if test="dictId != null">
        dict_id,
      </if>
      <if test="filterDesc != null">
        filter_desc,
      </if>
      <if test="priority != null">
        priority,
      </if>
      <if test="isUse != null">
        is_use,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="routerId != null">
        #{routerId,jdbcType=VARCHAR},
      </if>
      <if test="filterId != null">
        #{filterId,jdbcType=VARCHAR},
      </if>
      <if test="filterName != null">
        #{filterName,jdbcType=VARCHAR},
      </if>
      <if test="dictType != null">
        #{dictType,jdbcType=VARCHAR},
      </if>
      <if test="dictId != null">
        #{dictId,jdbcType=BIGINT},
      </if>
      <if test="filterDesc != null">
        #{filterDesc,jdbcType=VARCHAR},
      </if>
      <if test="priority != null">
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="isUse != null">
        #{isUse,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.weweibuy.gateway.manager.client.model.po.RouterFilterExample" resultType="java.lang.Long">
    select count(*) from router_filter
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update router_filter
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.routerId != null">
        router_id = #{record.routerId,jdbcType=VARCHAR},
      </if>
      <if test="record.filterId != null">
        filter_id = #{record.filterId,jdbcType=VARCHAR},
      </if>
      <if test="record.filterName != null">
        filter_name = #{record.filterName,jdbcType=VARCHAR},
      </if>
      <if test="record.dictType != null">
        dict_type = #{record.dictType,jdbcType=VARCHAR},
      </if>
      <if test="record.dictId != null">
        dict_id = #{record.dictId,jdbcType=BIGINT},
      </if>
      <if test="record.filterDesc != null">
        filter_desc = #{record.filterDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.priority != null">
        priority = #{record.priority,jdbcType=INTEGER},
      </if>
      <if test="record.isUse != null">
        is_use = #{record.isUse,jdbcType=BIT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update router_filter
    set id = #{record.id,jdbcType=BIGINT},
      router_id = #{record.routerId,jdbcType=VARCHAR},
      filter_id = #{record.filterId,jdbcType=VARCHAR},
      filter_name = #{record.filterName,jdbcType=VARCHAR},
      dict_type = #{record.dictType,jdbcType=VARCHAR},
      dict_id = #{record.dictId,jdbcType=BIGINT},
      filter_desc = #{record.filterDesc,jdbcType=VARCHAR},
      priority = #{record.priority,jdbcType=INTEGER},
      is_use = #{record.isUse,jdbcType=BIT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.weweibuy.gateway.manager.client.model.po.RouterFilter">
    update router_filter
    <set>
      <if test="routerId != null">
        router_id = #{routerId,jdbcType=VARCHAR},
      </if>
      <if test="filterId != null">
        filter_id = #{filterId,jdbcType=VARCHAR},
      </if>
      <if test="filterName != null">
        filter_name = #{filterName,jdbcType=VARCHAR},
      </if>
      <if test="dictType != null">
        dict_type = #{dictType,jdbcType=VARCHAR},
      </if>
      <if test="dictId != null">
        dict_id = #{dictId,jdbcType=BIGINT},
      </if>
      <if test="filterDesc != null">
        filter_desc = #{filterDesc,jdbcType=VARCHAR},
      </if>
      <if test="priority != null">
        priority = #{priority,jdbcType=INTEGER},
      </if>
      <if test="isUse != null">
        is_use = #{isUse,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weweibuy.gateway.manager.client.model.po.RouterFilter">
    update router_filter
    set router_id = #{routerId,jdbcType=VARCHAR},
      filter_id = #{filterId,jdbcType=VARCHAR},
      filter_name = #{filterName,jdbcType=VARCHAR},
      dict_type = #{dictType,jdbcType=VARCHAR},
      dict_id = #{dictId,jdbcType=BIGINT},
      filter_desc = #{filterDesc,jdbcType=VARCHAR},
      priority = #{priority,jdbcType=INTEGER},
      is_use = #{isUse,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectOneByExample" parameterType="com.weweibuy.gateway.manager.client.model.po.RouterFilterExample" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from router_filter
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    limit 1
  </select>
</mapper>