<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weweibuy.gateway.route.mapper.GatewayRouterMapper">
  <resultMap id="BaseResultMap" type="com.weweibuy.gateway.route.model.po.GatewayRouter">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="router_id" jdbcType="VARCHAR" property="routerId" />
    <result column="system_id" jdbcType="VARCHAR" property="systemId" />
    <result column="system_name" jdbcType="VARCHAR" property="systemName" />
    <result column="router_uri" jdbcType="VARCHAR" property="routerUri" />
    <result column="router_priority" jdbcType="INTEGER" property="routerPriority" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, router_id, system_id, system_name, router_uri, router_priority, is_delete, create_time, 
    update_time
  </sql>
  <select id="selectByExample" parameterType="com.weweibuy.gateway.route.model.example.GatewayRouterExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from gw_gateway_router
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gw_gateway_router
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from gw_gateway_router
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.weweibuy.gateway.route.model.example.GatewayRouterExample">
    delete from gw_gateway_router
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.weweibuy.gateway.route.model.po.GatewayRouter">
    insert into gw_gateway_router (id, router_id, system_id, 
      system_name, router_uri, router_priority, 
      is_delete, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{routerId,jdbcType=VARCHAR}, #{systemId,jdbcType=VARCHAR}, 
      #{systemName,jdbcType=VARCHAR}, #{routerUri,jdbcType=VARCHAR}, #{routerPriority,jdbcType=INTEGER}, 
      #{isDelete,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.weweibuy.gateway.route.model.po.GatewayRouter">
    insert into gw_gateway_router
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="routerId != null">
        router_id,
      </if>
      <if test="systemId != null">
        system_id,
      </if>
      <if test="systemName != null">
        system_name,
      </if>
      <if test="routerUri != null">
        router_uri,
      </if>
      <if test="routerPriority != null">
        router_priority,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="routerId != null">
        #{routerId,jdbcType=VARCHAR},
      </if>
      <if test="systemId != null">
        #{systemId,jdbcType=VARCHAR},
      </if>
      <if test="systemName != null">
        #{systemName,jdbcType=VARCHAR},
      </if>
      <if test="routerUri != null">
        #{routerUri,jdbcType=VARCHAR},
      </if>
      <if test="routerPriority != null">
        #{routerPriority,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.weweibuy.gateway.route.model.example.GatewayRouterExample" resultType="java.lang.Long">
    select count(*) from gw_gateway_router
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update gw_gateway_router
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.routerId != null">
        router_id = #{record.routerId,jdbcType=VARCHAR},
      </if>
      <if test="record.systemId != null">
        system_id = #{record.systemId,jdbcType=VARCHAR},
      </if>
      <if test="record.systemName != null">
        system_name = #{record.systemName,jdbcType=VARCHAR},
      </if>
      <if test="record.routerUri != null">
        router_uri = #{record.routerUri,jdbcType=VARCHAR},
      </if>
      <if test="record.routerPriority != null">
        router_priority = #{record.routerPriority,jdbcType=INTEGER},
      </if>
      <if test="record.isDelete != null">
        is_delete = #{record.isDelete,jdbcType=BIT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update gw_gateway_router
    set id = #{record.id,jdbcType=BIGINT},
      router_id = #{record.routerId,jdbcType=VARCHAR},
      system_id = #{record.systemId,jdbcType=VARCHAR},
      system_name = #{record.systemName,jdbcType=VARCHAR},
      router_uri = #{record.routerUri,jdbcType=VARCHAR},
      router_priority = #{record.routerPriority,jdbcType=INTEGER},
      is_delete = #{record.isDelete,jdbcType=BIT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.weweibuy.gateway.route.model.po.GatewayRouter">
    update gw_gateway_router
    <set>
      <if test="routerId != null">
        router_id = #{routerId,jdbcType=VARCHAR},
      </if>
      <if test="systemId != null">
        system_id = #{systemId,jdbcType=VARCHAR},
      </if>
      <if test="systemName != null">
        system_name = #{systemName,jdbcType=VARCHAR},
      </if>
      <if test="routerUri != null">
        router_uri = #{routerUri,jdbcType=VARCHAR},
      </if>
      <if test="routerPriority != null">
        router_priority = #{routerPriority,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weweibuy.gateway.route.model.po.GatewayRouter">
    update gw_gateway_router
    set router_id = #{routerId,jdbcType=VARCHAR},
      system_id = #{systemId,jdbcType=VARCHAR},
      system_name = #{systemName,jdbcType=VARCHAR},
      router_uri = #{routerUri,jdbcType=VARCHAR},
      router_priority = #{routerPriority,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectOneByExample" parameterType="com.weweibuy.gateway.route.model.example.GatewayRouterExample" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from gw_gateway_router
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    limit 1
  </select>
</mapper>